body {
	background: url(../images/hero.jpg) no-repeat center center fixed #AD7052;
	background-size: cover;
	filter: grayscale(40%);
  font-family:  'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
	min-width: 100vw;
	min-height: 100vh;
  line-height: 1.4em;
}
a {
  text-decoration: none;
  color: #fff;
}
.hidden {
  top: -200px;
  transition: ease-in-out 0.4s;
}
.visible {
  top: 0px;
  transition: ease-in-out 0.4s;
}
.invisible {
  visibility: hidden;
}
/* ###### Hamburger Menu ###### */
#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 2;
}
#menu input {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
#menu input:checked + span {
  background: transparent;
}
#menu input:checked + span:after {
  -webkit-transform: rotate(45deg) translate(-1px, -12px);
  transform: rotate(45deg) translate(-1px, -12px);
}
#menu input:checked + span:before {
  -webkit-transform: rotate(-45deg) translate(-4px, 16px);
  transform: rotate(-45deg) translate(-4px, 16px);
}
#menu span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  margin-top: 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
#menu span:before, #menu span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  top: -12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#menu span:after {
  top: 12px;
}
/* ###### Navigation ###### */
header {
  position: fixed;
  z-index: 1;
}
nav {
  width: 100vw;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  transition: ease-in-out 0.4s;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav li {
  list-style: none;
  font-size: 25px;
  margin: 10px 10px;
  transition: ease-in-out 0.4s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
nav li:hover {
  border-bottom: 2px solid #fff;
}
.heading {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #222;
}
/* ###### HERO ###### */
#hero {
  width: 100vw;
	height: 100vh;
  flex-direction: column;
}
#hero, .name {
  display: flex;
  justify-content: center;
}
.name {
  flex-direction: row;
}
.name span {
  display: inline-block;
  color: #fff;
  font-size: 5em;
  transform-origin: 50% 70%;
}
span:nth-child(1) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
}
span:nth-child(2) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s both;
}
span:nth-child(3) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s both;
}
span:nth-child(4) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
}
span:nth-child(5) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
  padding: 0 5px;
}
span:nth-child(6) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;
}
span:nth-child(7) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
}
span:nth-child(8) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
}
span:nth-child(9) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
}
span:nth-child(10) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both;
}
span:nth-child(11) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s both;
}
span:nth-child(12) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.2s both;
}
@keyframes flipUp {
  from {transform: rotateX(90deg);
  }
  to {transform: rotateX(0deg);
  }
}
/* ###### ABOUT SECTION ###### */
.note {
  max-width: 35vw;
  background: #F7E999;
  padding: 40px;
  border-radius: 6px/18px 0;
  margin: 70px 10px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: rotate(2deg);  
}
.note::before {
  content: ""; 
  width: 20vw;
  height: 28px;
  border-radius: 6px/18px 0;
  background: rgba(229, 229, 229, 0.40);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 55px;
  left: 25%;
}
/* ###### PROJECTS SECTION ###### */
#projects {
  width: 50vw;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 70px;
}
.polaroid {
    width: 50vh;
    height: 60vh;
    background: #f5f5f5;
    margin: 30px;
    box-shadow: 3px 2px 7px 2px rgba(0,0,0,0.85);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
.polaroid:nth-child(odd) {
    transform: rotate(-2deg);
}
.polaroid:nth-child(even) {
    transform: rotate(2deg);
}
.polaroid_photo {
    width: 50vh;
    height: 45vh;
    border: 20px solid #f5f5f5;
    box-sizing: border-box;
    align-self: flex-start;
}
.polaroid_photo img {
    width: 100%;
    height: 100%;
}
.photo_title {
  margin-bottom: 20px;
  font-size: 24px;
}
.polaroid_content {
    flex: 1;
    height: 20vh;
    width: 50vh;
}
/* ###### CONTACT SECTION ###### */
.contact_card {
  background: #fff;
  width: 425px;
  height: 225px;
  padding: 15px;
  margin-bottom: 70px;
  box-shadow: 3px 2px 7px 2px rgba(0,0,0,0.85);
  transform: rotate(2deg); 
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 25px;
}
.icon {
  width: 50px;
  height: 50px;
  transition: linear 0.4s;
}
.icon:hover {
  transform: rotate(30deg);
}
/* ###### BUTTONS ###### */
.button {
    font-size: 1em;
    color: #222;
    padding: 10px;
    border: 1px dashed #222;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.4s ease;
    cursor: pointer;   
    text-align: center;
}
.button:hover {
    color: #222;
    border: 1px solid #222;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
}
/* ###### SOCIAL MEDIA ###### */
.social_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social_nav li {
  margin: 0 10px;
}
/* ###### FOOTER ###### */
footer {
  color: #CA9077;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 200vw 100vh;
  }
  .name span {
    font-size: 40px;
  }
  .note {
    max-width: 70vw;
    padding: 20px;  
    margin: 50px 10px;
  }
  .note::before {
    bottom: 35px;
    left: 35%;
  }
  .heading {
    font-size: 25px;
  }
  #projects {
    width: 100vw;
    margin-bottom: 15px;
  }
  .polaroid {
    width: 45vh;
    height: 54vh;
    margin-bottom: 50px;
  }
  .polaroid_photo {
    width: 45vh;
    height: 40.5vh;
    border: 15px solid #f5f5f5;
  }
  .polaroid_content {
    width: 45vh;
  }
  .button {
    margin: 10px;
  }
  .contact_card {
    background: #fff;
    width: 45vh;
    height: 27vh;
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 400px) {
  #menu span, #menu span:before, #menu span:after {
    height: 3px;
  }
  .name span {
    font-size: 35px;
  }
  .note {
    max-width: 70vw;
  }
  .button {
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
  }
  .container {
    margin-top: 5px;
  }
  .icon {
  width: 40px;
  height: 40px;
  transition: linear 0.4s;
}
}