body{
	background: url(../images/hero.jpg) no-repeat center center fixed;
	background-size: cover;
	filter: grayscale(40%);
  font-family:  'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	min-width: 100vw;
	min-height: 100vh;
  line-height: 1.4em;
}

/* ###### MENU ###### */
.menu-wrapper {
  position: fixed;
  width: 250px;
  height: 250px;
  top: 0;
  margin-top: 20px;
  margin-left: 10px;
}
.menu {
  position: relative;
  width: 36px;
  height: 6px;
  background-color: #fff;
  user-select: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  tap-highlight-color: transparent;
}
.menu label {
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  line-height: 30px;
  top: -12px;
  left: 48px;
}
.menu:hover > ul.nav-links, .menu.open > ul.nav-links {
  transition: all 0.25s ease-in-out;
  opacity: 1;
  width: 180px;
  transform: translateX(15px);
  pointer-events: auto;
}
.menu:after, .menu:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
.menu:after {
  top: 12px;
}
.menu:before {
  top: -12px;
}
.menu:hover, .menu.open {
  background-color: transparent;
}
.menu:hover::after, .menu:hover::before, .menu.open::after, .menu.open::before {
  transition: all 0.3s ease-in-out;
  width: 18px;
}
.menu:hover::after, .menu.open::after {
  transform: translate(3px, -7px) rotate(405deg);
}
.menu:hover::before, .menu.open::before {
  transform: translate(12px, 17px) rotate(-405deg);
}
.nav-links {
  margin: 0;
  padding: 36px 0 0 0;
  opacity: 0;
  transform: translateX(-15px);
  transition: all 0.25s ease-in-out;
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}
.nav-links li {
  width: 100%;
  padding: 4px 8px;
  list-style-type: none;
  font-size: 25px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  border-left: 2px solid #fff;
}
.nav-links a{
  text-decoration: none;
  color: #fff;
}
.nav-links li:hover, .active, a:hover {
  color: #000;
}
/* ###### HERO ###### */
.hero{
  width: 100vw;
	height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
span {
  display: inline-block;
  color: #fff;
  font-size: 7em;
  transform-origin: 50% 70%;
}
span:nth-child(1) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
}
span:nth-child(2) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s both;
}
span:nth-child(3) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s both;
}
span:nth-child(4) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
}
span:nth-child(5) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
  padding: 0 20px;
}
span:nth-child(6) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;
}
span:nth-child(7) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
}
span:nth-child(8) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
}
span:nth-child(9) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
}
span:nth-child(10) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both;
}
span:nth-child(11) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s both;
}
span:nth-child(12) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.2s both;
}
@keyframes flipUp {
  from {transform: rotateX(90deg);
  }
  to {transform: rotateX(0deg);
  }
}
/* ###### DOWN ARROW ###### */
.arrow{
  position: absolute;
  bottom: 10px;
  left: 50%;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
/* ###### ABOUT SECTION ###### */
.note {
    max-width: 50vw;
    background: #F7E999;
    padding: 40px;
    border-radius: 6px/18px 0;
    margin: 20px 10px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: rotate(2deg);  
}
.note::before {
	  content: ""; 
    width: 20vw;
	  height: 28px;
    border-radius: 6px/18px 0;
	  background: rgba(229, 229, 229, 0.40);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 55px;
    left: 30%;
}

/* ###### WORK SECTION ###### */
.polaroid {
    width: 50vh;
    height: 60vh;
    background: #f5f5f5;
    margin: 20px auto;
    box-shadow: 3px 2px 7px 2px rgba(0,0,0,0.85);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: rotate(-2deg);  
}
.polaroid_photo {
    width: 50vh;
    height: 45vh;
    border: 20px solid #f5f5f5;
    background: #222;
    box-sizing: border-box;
    align-self: flex-start;
}
.polaroid_photo img {
    width: 100%;
    height: 100%;
}
.polaroid_content {
    flex: 1;
    height: 20vh;
    width: 50vh;
}

/* ###### CONTACT SECTION ###### */
.contact_card {
  background: #fff;
}

/* ###### BUTTONS ###### */
.button {
    font-size: 1em;
    color: #222;
    padding: 10px;
    border: 1px dashed #222;
    border-radius: 10px;
    background: transparent;
    margin: 20px;
    transition: all 0.4s ease;
    cursor: pointer;   
}
.button:hover {
    color: #222;
    background-color: #f4f4f4;
    border: none;
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}
.black {
    color: #222;
    padding: 2px 8px;
    border: 1px solid #222;
    border-radius: 6px;
    margin: 0 5px;
}

/* ###### SOCIAL MEDIA ###### */
.social_nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
}
.social_nav li {
  display: inline-block;
  padding: 5px 0;
}
.social_nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #000;
  position: relative;
  transition: 0.5s;
}
.social_nav li {
  margin: 0 10px;
}
.social_nav a {
  background: none;
  box-shadow: 0 0 4px 3px;
  text-shadow: 0 0 1px #333;
  transition: transform 0.4s, background 0.4s;
  border-radius: 10%;
}
.social_nav a .fa {
  transition: transform 1s;
}
.social_nav a:hover .fa {
  transform: rotate(-10deg) scale(3);
}
.github, .linkedin, .gmail {
  color: #fff;
}